%p#notice= notice
%h1= t '.title'
%table.table
  %thead
    %tr
      %th= Student.human_attribute_name(:name)
      %th= Student.human_attribute_name(:register_number)
      %th= Student.human_attribute_name(:status)
      %th{:colspan => "2"}
  %tbody
    - @students.each do |student|
      %tr
        %td= student.name
        %td= student.register_number
        %td= student.status
        %td= link_to t(:show), student, :class => "btn btn-info"
        %td= link_to t(:edit), edit_student_path(student), :class => "btn btn-warning"
        - if student.class_rooms.empty?
          %td= link_to t(:destroy), student, method: :delete, data: { confirm: I18n.t(:confirm_delete) }, :class => "btn btn-danger"
        - else
          %td
%br/
= link_to t('.new_item'), new_student_path, :class => "btn btn-primary"
