%p#notice= notice
%h1= t '.title'
%table.table
  %thead
    %tr
      %th= ClassRoom.human_attribute_name(:student_id)
      %th= ClassRoom.human_attribute_name(:course_id)
      %th= ClassRoom.human_attribute_name(:entry_at)
      %th{:colspan => "3"}
  %tbody
    - @class_rooms.each do |class_room|
      %tr
        %td= class_room.student.name
        %td= class_room.course.name
        %td= l class_room.entry_at, format: :long
        %td= link_to t(:show), class_room, :class => "btn btn-info"
        %td= link_to t(:edit), edit_class_room_path(class_room) ,:class => "btn btn-warning"
        %td= link_to t(:destroy), class_room, method: :delete, data: { confirm: I18n.t(:confirm_delete) }, :class => "btn btn-danger"
%br/
= link_to t('.new_item'), new_class_room_path, :class => "btn btn-primary"
