= form_for(@course) do |f|
  - if @course.errors.any?
    #error_explanation
      %h2
        = pluralize(@course.errors.count, "error")
        prohibited this course from being saved:
      %ul
        - @course.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label Course.human_attribute_name(:name)
    %br/
    = f.text_area :name
  .field
    = f.label Course.human_attribute_name(:description)
    %br/
    = f.text_area :description
  .field
    = f.label Course.human_attribute_name(:status)
    %br/
    = f.select(:status, [['Ativo', :ativo], ['Inativo', :inativo]], :class => 'form-control')
  .actions
    = f.submit

